<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShareBlood</title>
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="assets/dist/output.css">

</head>
<body ng-app="shareBlood">
    <div class="navbar-fixed">
        <ul id="dropUser" class="dropdown-content">
          <li><a ng-href="/meus-dados">Meus dados</a></li>
          <li class="divider"></li>
          <li><a href="#!">Sair</a></li>
        </ul>
        <nav>
            <div class="container-fluid">
                <a ng-href="/" class="brand-logo">
                    <img src="assets/img/logo.png" />
                </a>
                <ul class="right">
                    <li><a ng-href="/faq">FAQ</a></li>
                    <li><a href="">Entrar</a></li>
                    <li><a href="#modalCadastro" class="modal-trigger">Cadastre-se</a></li>
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="dropUser">Thiago Dorneles<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <ng-view></ng-view>

    <div id="modalCadastro" class="modal" ng-controller="registerController as register">
        <form ng-submit="register.send()">
            <div class="modal-content">
                <h4>Cadastre-se como doador</h4>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col m6 s12">
                                <input type="text" id="txtName" ng-model="register.user.profile.name">
                                <label for="txtName">Nome</label>
                            </div>
                            <div class="input-field col m3 s12">
                                <select id="ddlGenre" ng-model="register.user.profile.gender">
                                  <option value="" disabled selected>Sexo</option>
                                  <option value="M">Masculino</option>
                                  <option value="F">Feminino</option>
                                </select>
                                <label for="ddlGenre">Sexo</label>
                            </div>
                            <div class="input-field col m3 s12">
                                <select id="ddlBloodType" ng-model="register.user.profile.blood_type">
                                    <option value=""></option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                </select>
                                <label for="ddlBloodType">Tipo sanguíneo</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m6 s12">
                                <input type="email" id="email" ng-model="register.user.email">
                                <label for="email">E-mail</label>
                            </div>
                            <div class="input-field col m3 s12">
                                <input type="password" id="password" ng-model="register.user.password">
                                <label for="password">Senha</label>
                            </div>
                            <div class="input-field col m3 s12">
                                <input id="birthdate" type="date" ng-model="register.user.profile.birthdate" class="datepicker">
                                <label for="birthdate">Data nascimento</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" onclick="register.send()" class=" modal-action waves-effect waves-green btn">Enviar</button>
                <button type="button" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</button>
            </div>
        </form>
  </div>

    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="views/donation/donationController.js"></script>
    <script src="views/donation/detailController.js"></script>
    <script src="views/faq/faqController.js"></script>
    <script src="views/profile/profileController.js"></script>
    <script src="assets/js/registerController.js"></script>

    <script>
      $(document).ready(function() {
        $('.modal-trigger').leanModal();
      });
    </script>
</body>
</html>