<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col m12">
                <h4>FAQ</h4>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
                      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
                      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
                      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.collapsible').collapsible({
          accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
</script>