<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col m12">
                <h4>FAQ</h4>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header">Sou menor de idade, posso doar?</div>
                      <div class="collapsible-body"><p>Sim, pessoas entre 16 e 69 anos podem doar sangue, desde que a primeira doação tenha sido feita até os 60 anos.</p></div>
                    </li>
                    <li>
                    <div class="collapsible-header">O peso afeta na doação de sangue?</div>
                      <div class="collapsible-body"><p>Sim, é necessário ter no mínimo 50 kg.</p></div>
                    </li>
                    <li>
                      <div class="collapsible-header">Minha condição física e mental precisam estar regulares?</div>
                      <div class="collapsible-body"><p>Sim. O processo de doação de sangue necessita que a pessoa esteja bem alimentada e bem descansada.</p></div>
                    </li>
                    <li>
                      <div class="collapsible-header">Devo apresentar algum documento?</div>
                      <div class="collapsible-body"><p>Sim. É necessário apresentar documento original com foto emitido por órgão oficial (Carteira de Identidade, Cartão de Identidade de Profissional Liberal, Carteira de Trabalho e Previdência Social.</p></div>
                    </li>
                    <li>
                      <div class="collapsible-header">Existe algum impedimento temporário?</div>
                      <div class="collapsible-body"><p>Sim. Resfriado, gravidez, 90 dias após parto normal e 180 dias após cesariana, amamentação, ingestão de bebida alcoólica, doenças sexualmente transmissíveis e tatuagem nos últimos 12 meses.</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.collapsible').collapsible({
          accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
</script>